@import "../../styles/_vars.scss";

button {
	background: none;
	border: 2px solid $white;
	border-radius: 50%;

	width: 37px;
	height: 37px;

	display: flex;
	align-items: center;
	justify-content: center;

	svg {
		fill: $white;
		width: 25px;
		height: 25px;
	}

	&:focus {
		outline: none;
	}
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(-359deg);
	}
}