@font-face {
	font-family: "geomanist";
	src: url("~/assets/fonts/geomanist-regular-webfont.woff2") format("woff2");
}

h1,
label,
p,
th,
td {
	color: $white;
	font-family: $geomanist;
}

h1 {
	font-size: rem(64px);
	font-weight: 100;
}