$geomanist: "geomanist",
Arial,
Helvetica,
sans-serif;

$white: #fff;
$light-blue: #9db7cd;
$blue: #12a2e7;
$dark-blue: #043d67;
$clear: rgba(0, 0, 0, 0);
$grey: #444;

$screen-xs: 0px;
$screen-sm: 737px;
$screen-md: 992px;
$screen-lg: 1366px;
$screen-xl: 1920px;

$screen-xs-min: $screen-xs;
$screen-sm-min: $screen-sm;
$screen-md-min: $screen-md;
$screen-lg-min: $screen-lg;
$screen-xl-min: $screen-xl;